<div class="row" id="Educacion">
<div class="col-lg-6" data-aos="fade-up">
            

    <h3 class="resume-title">Education</h3>
    <div class="resume-item">
      <h4>information systems engineering</h4>
    
      <h5>2021 </h5>
      
      <p><em>En curso</em></p>
      
    </div>
    <div class="resume-item">
      <h4>Argentinian program </h4>
      <h5>2022</h5>
      
      <p><em>En curso</em></p>
      
    </div>

    <div class="resume-item">
      <h4>Refrigeration technician </h4>
      <h5>2019</h5>
     

      <p><em>Repair and maintenance of refrigeration equipment</em></p>
      
    </div>

  





  </div>
</div>