<!-- <div class="row">
<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
    <h3 class="resume-title">Professional Experience</h3>
    <div class="resume-item">
      <h4>Appointment</h4>
      <h5>2022 - Present</h5>
      <p><em>Tucuman, Argentina </em></p>
      <ul>
        <li>Web design and layout. (HTML + CSS + JavaScript)</li>
        <!-- <li>Styles and web animations. (bootstrap) </li> -->
        <!-- <li>Landing page creation. (HTML + CSS + JavaScript)</li> 
        <li>Requests to API REST. (fetch)</li>
        <li>Creation of tables and CRUD operations in the DB. (MySQL)</li>
        <li>Collaborative development. (Git)</li>
        <li>Repairer and installer of windows operating systems on PC.</li>
        
       
      </ul>
    </div>
    
  </div>

</div> -->
<div class="row" id="Experiencia">
  <h1>Professional Experience</h1>

  <div class="col-lg-11">

    <ul>
      <li> <h1>trabajo</h1>- <h3>fecha de inicio</h3>- <h3>fecha de fin</h3></li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore est iste at cumque quae illo quam nulla voluptate magni, quibusdam laboriosam laborum facilis omnis porro, quo repellat. Illo, eum! Magnam.</p>
    </ul>
    
    <ul>
      <li> <h1>trabajo</h1>- <h3>fecha de inicio</h3>- <h3>fecha de fin</h3></li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore est iste at cumque quae illo quam nulla voluptate magni, quibusdam laboriosam laborum facilis omnis porro, quo repellat. Illo, eum! Magnam.</p>
    </ul>
    
    <ul>
      <li> <h1>trabajo</h1>- <h3>fecha de inicio</h3>- <h3>fecha de fin</h3></li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore est iste at cumque quae illo quam nulla voluptate magni, quibusdam laboriosam laborum facilis omnis porro, quo repellat. Illo, eum! Magnam.</p>
    </ul>
  </div>

</div>