<div class="container ">
 
    <div class="row ">

       <nav class="nav">
         <ul>
            <li class="btn btn-outline-light"><a href="#home">Home</a></li>
            <li class="btn btn-outline-light"><a href="#AcercaDe">Acerca De</a></li>
            <li class="btn btn-outline-light"><a href="#Experiencia">Experiencia</a></li> 
            <li class="btn btn-outline-light"><a href="#Educacion">Educacion</a></li>
            <li class="btn btn-outline-light"><a href="#Hard&soft">Hard&Soft</a></li>
            <li class="btn btn-outline-light"><a href="#Proyectos">Proyectos</a></li>
         </ul>
            <!-- <a href="#blogs">blogs</a> -->
        <!-- <a routerLink="/Home">home</a>
        <a routerLink="/AcercaDe">Acerca De</a>
        <a routerLink="/Experiencia">Experiencia</a> 
        <a routerLink="/Educacion">Educacion</a>
        <a routerLink="/Hard&soft">Hard & soft</a>
        <a routerLink="/Proyectos">Proyectos</a>
        <a routerLink="/Home">blogs</a> -->
       </nav>

       <!-- <div class="icons">
          <div id="menu-btn" class="fas fa-bars"></div>
          <div id="login-btn" class="fas fa-user"></div>
       </div> -->

    </div>
