<div class="row" id="Hard&soft">
    <h1>Hard & soft skills</h1>
    <div  class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="55"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="65"
            [imageWidth]="65"
            [title]="'HTML 85'"
            [titleColor]="'red'"
            [titleFontSize]="'15'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="55"
            [imageSrc]="'../assets/CSS.png'"
            [showImage]="true"
            [imageHeight]="65"
            [imageWidth]="65"
            [title]="'CSS 85'"
            [titleColor]="'red'"
            [titleFontSize]="'15'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="40"
            [radius]="55"
            [imageSrc]="'../assets/JS.png'"
            [showImage]="true"
            [imageHeight]="65"
            [imageWidth]="65"
            [title]="'JS 40'"
            [titleColor]="'red'"
            [titleFontSize]="'15'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="20"
            [radius]="55"
            [imageSrc]="'../assets/TS.png'"
            [showImage]="true"
            [imageHeight]="65"
            [imageWidth]="65"
            [title]="'TS 20'"
            [titleColor]="'red'"
            [titleFontSize]="'15'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="55"
            [imageSrc]="'../assets/C.png'"
            [showImage]="true"
            [imageHeight]="65"
            [imageWidth]="65"
            [title]="'C 90'"
            [titleColor]="'red'"
            [titleFontSize]="'15'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="20"
            [radius]="55"
            [imageSrc]="'../assets/JAVA.png'"
            [showImage]="true"
            [imageHeight]="65"
            [imageWidth]="65"
            [title]="'Java 20'"
            [titleColor]="'red'"
            [titleFontSize]="'15'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
   
    

 

</div>