<!-- login form starts -->

<div class="login-form">

    <form action="">
       <div id="close-login-form" class="fas fa-times"></div>
       <a href="#" class="logo mr-auto"> <i class="fas fa-mug-hot"></i> portfolio</a>
       <h3>let's start a new great day</h3>
       <input type="email" name="" placeholder="enter your email" id="" class="box">
       <input type="password" name="" placeholder="enter your password" id="" class="box">
       <div class="flex">
          <input type="checkbox" name="" id="remember-me">
          <label for="remember-me">remember me</label>
          <a href="#">forgot password?</a>
       </div>
       <input type="submit" value="login now" class="link-btn">
       <p class="account">don't have an account? <a href="#">create one!</a></p>
    </form>
 
 </div>
  