<!-- ======= Hero Section ======= -->
<section  id="hero" class="row" class="d-flex flex-column justify-content-center align-items-center">
    
    <div  class="hero-container" data-aos="fade-in" >
       <h1 style="color: rgb(255, 250, 250); text-align:left;">Welcome to my portfolio.</h1> 

      <p style="color: rgb(255, 255, 255);" class="parrafo-inicio"><span style="color: rgb(255, 255, 255); text-align: left;" class="typed" data-typed-items="Hi my name is Angel Daniel Pastrana, i 'm a web FULL STACK developer."></span></p>
    </div>

    
  </section><!-- End Hero -->